# data file
backup/
font/font_images/
font/bmp_output/
font/output_txt/
font/svg_output/
font/scans/
placeholder/BACKUP/
placeholder/oldfile/

# python environment
venv/


# potrace directory
potrace/

# suffix file
*.db
*.csv
*.xlsx
*.xls