# suffix file
*.db
*.xlsx
*.xls

# python environment
venv/
.DS_Store
.git

# data
backup/
font/font_images/
font/scans/
font/bmp_output/
font/output_txt/
font/svg_output/
placeholder/BACKUP/
placeholder/oldfile/
potrace/
